
@{
    ViewBag.Title = "Edit";
}


<div class="box box-primary">
    <div class="box-body">
        <form class="form-horizontal">

            <div class="form-group">
                <label class="control-label col-sm-2"> Mã người giao hàng:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" autofocus>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2">Tên :</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2"> Điện thoại:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="">
                </div>
            </div>

            

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-right">

                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save" style="margin-right: 2px;"></i> Lưu dữ liệu
                    </button>

                    <a href="~/Shipper" class="btn btn-default">
                        Quay lại
                    </a>

                </div>
            </div>
        </form>
    </div>
</div>

